# ExchangeRate-API Key (Get free key from https://www.exchangerate-api.com/)
EXCHANGE_API_KEY=your_exchangerate_api_key_here

# Alpha Vantage API Key (Get free key from https://www.alphavantage.co/)
ALPHAVANTAGE_API_KEY=your_alphavantage_api_key_here
